h1 {
  color: white;
  font-size: 40px;
  font-family: arial;
}
h1.header {
  color: white;
  font-family: arial;
}
img {
  width: 200px;
}
body {
  font-family: arial;
  background-color: #4F2582;
  color: white;
  text-align: left;
}
a {
  color: white;
}
div.heading {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}
